<footer>
  <p>Coded with ☕ by <a href="https://github.com/sundeeseeyou" target="_blank">sundeeseeyou</a> &copy; <%= new Date().getFullYear() %></p>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script src="styles/animation.js"></script>

  <!-- <script>
    $(document).ready(function() {
    // Remove 'poster-list' class and add 'highlight' class to the first .poster-list element
    $('.container .poster-list:first').removeClass('poster-list').addClass('highlight');
});
  </script> -->
</body>
</html>