<nav>
  <a href="/"><img class="logo" src="/images/logo.png" /></a>
  <div class="link-container">
    <a href="#home">Review</a>
    <a href="#news">About</a>
    <a href="#contact">Contact</a>
    <div class="btn-yellow" type="submit">Login</div>
  </div>
</nav>
