<nav>
  <a href="/"><img class="logo" src="/images/logo.png" /></a>
  <div class="link-container">
    <a href="#home">Movie</a>
    <a href="#news">About</a>
    <a href="#contact">Contact</a>
    <div class="user">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
  </div>
</nav>
