<%- include('partials/header.ejs') %>
<body>
    <nav>
        <a href="/"><img class="logo" src="images/logo.png"/></a>
    <div class="link-container">
        <a href="#home">Review</a>
        <a href="#news">About</a>
        <a href="#contact">Contact</a>
        <div class="btn-yellow" type="submit">Login</div>
    </div>
    </nav>

    <section class="latest">
        <h1>Latest Review</h1>
        <div class="latestreview">1</div>
        <div class="poster-list">2</div>
        <div class="poster-list">3</div>
        <div class="poster-list">4</div>
        <div class="poster-list">5</div>
    </section>

<%- include('partials/footer.ejs') %>