<%- include('partials/header.ejs') %>
<body>
    <nav>
        <a href="/"><img class="logo" src="images/logo.png"/></a>
    <div class="link-container">
        <a href="#home">Review</a>
        <a href="#news">About</a>
        <a href="#contact">Contact</a>
        <div class="btn-yellow" type="submit">Login</div>
    </div>
    </nav>
    
    <section id="latest-review">
        <h1>Latest Review</h1>
        <div class="container">
        <div class="latestreview">1</div>
        <div class="poster-list">2</div>
        <div class="poster-list">3</div>
        <div class="poster-list">4</div>
        <div class="poster-list">5</div>
    </div>
    </section>

    <section id="movie-rank">
        <h2>Top 10 Rank Movies</h2>
        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>

        <div class="container-rank">
            <div class="number">
                1
            </div>
            <div class="poster">
                <img src="https://www.gamespot.com/a/uploads/original/1597/15975876/4191965-themarvels_27x40_imax_digital_supplemental_v3_lg.jpg" width="150px"/>
            </div>
            <div class="description">
                <h3>Movie Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis, voluptatibus natus culpa excepturi at ratione, maiores voluptatum mollitia assumenda dolorum aut praesentium magni facere non error ipsa ad! Deserunt!</p>
            </div>
        </div>
        
    </section>


<%- include('partials/footer.ejs') %>