<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<section>
  <h1></h1>
  <div class="apidata">
    <img src="" />
  </div>
  <div class="postdata"></div>
</section>

<%- include('partials/footer.ejs') %>
