html{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background: rgb(67,1,133); */
    background: linear-gradient(90deg, rgba(67,1,133,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);

 
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 10px 30px;
    align-self: center;
    width: auto;

  }

nav a{
    color: #f4f4f4;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;

  }
  
nav a:hover {
    opacity: 0.7;
  }

  
nav a.active {
    background-color: #04AA6D;
    color: white;
  }


.btn-yellow{
    padding: 10px 40px;
    border-radius: 0.5rem;
    background-color: #FFDE59;
    color: #3d3d3d;
    font-size: 1.4rem;
    cursor: pointer;
  }

.btn-yellow:hover{
    opacity: 0.6;

}



.logo{
    max-width: 18rem;
}


.link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-height: 50vw;
}

.latestreview{
    grid-column: 1 / 3;
    grid-row: span 2;
    background-color: green;
    border-radius: .5rem;
    padding: 20px;
}

.poster-list{
    background-color: pink;
    padding: 2rem;
    border-radius: 0.5rem;
}

#latest-review, #movie-rank{
    padding: 0 10rem;
}

.container-rank{
    display: grid;
    grid-template-columns: .3fr 1fr 6fr;
    gap: .5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.container-rank p{
    padding: 0 2rem;
}

.container-rank h3{
    padding: 0 2rem;
}

.list-item{
    background-color: tomato;
}


/* .container-rank * {
    border: 2px solid white;
} */